body {
    text-align: center;
}

#fancy-button {
    background: gold;
    display:block;
    color: black;
    font: 30px sans-serif;
    padding: 2px;
    margin:3px;
    height:40px;
    text-decoration: none;
    text-align:center;
}